body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
} 

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
    margin: auto;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

#menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

img {
    display: block;
    margin: 20px auto;
    height: 350px;
    border-radius: 30px;
}
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}