@font-face {
  font-family: "Theseasons";
  src: url("fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Theseasons";
  src: url("fonts/Fontspring-DEMO-theseasons-it.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Theseasons";
  src: url("fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Theseasons";
  src: url("fonts/Fontspring-DEMO-theseasons-bdit.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Theseasons";
  src: url("fonts/Fontspring-DEMO-theseasons-lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Theseasons";
  src: url("fonts/Fontspring-DEMO-theseasons-ltit.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
:root {
  --cor-fundo: #2b0000;
  --cor-fundo-gradiente: linear-gradient(180deg, #6e0c0c, #2b0000);
  --cor-destaque: #a22c2c;
  --cor-texto: #f6e8d7;
  --cor-secundaria: #b8b8b8;
  --cor-dourado: #e4c49c;
  --cor-borda: #3a0000;
  --cor-titulo: #000000;
  --fonte-titulo: "Theseasons", serif;
  --fonte-subtitulo: "Montserrat", sans-serif;
  --fonte-texto: "Raleway", sans-serif;
  --cor-info: rgba(255, 255, 255, 0.363);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  text-decoration: none;
}
body {
  background: var(--cor-fundo);
  overflow-x: hidden;
}

.tituloLand {
  position: absolute;
  display: flex;
  top: -5%;
  justify-self: center;
  color: var(--cor-titulo);
  font-size: 245px;
  font-family: var(--fonte-titulo);
  font-style: italic;
  font-weight: 800;
  z-index: 2;
}

.backEu {
  position: absolute;
  top: 5%;
  display: flex;
  justify-self: center;
  width: 82.5%;
  z-index: 3;
  filter: brightness(1.1);
}

.ledBack {
  position: absolute;
  display: flex;
  justify-self: center;
  left: 37%;
  top: 5%;
  width: 500px;
  height: 110vh;
  background: radial-gradient(
      circle at 35% 55%,
      rgba(212, 111, 111, 0.9) 0%,
      rgba(193, 55, 55, 0.449) 60%
    ),
    radial-gradient(
      circle at 65% 45%,
      rgba(231, 135, 135, 0.564) 0%,
      rgba(255, 0, 0, 0.475) 70%
    );
  filter: blur(80px);
  transform: rotate(90deg);
}

.areaCard {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 80px;
  color: var(--cor-dourado);
}

.areaGrid {
  position: absolute;
  top: 30%;
  left: 2%;
}

.areaGrid > h1 {
  font-size: 100px;
}

.designer {
  color: var(--cor-dourado);
  font-size: 250px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  height: 200px;
}

.desi {
  position: absolute;
  left: 58%;
  top: 35%;
  width: 630px;
  z-index: 2;
}

.gner {
  position: absolute;
  left: 50%;
  top: 64%;
  z-index: 4;
  width: 100px;
  height: 50px;
}

span {
  /* Gradiente de cores */
  background: linear-gradient(90deg, transparent 5%, #c0a88b, #e4c49c);

  /* Visualização do degradê no texto */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  /* para navegadores não-webkit */
  color: transparent;
}

.contato > h1 {
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--cor-dourado);
}

.contato > p {
  font-family: var(--fonte-texto);
  color: var(--cor-texto);
  font-size: 15px;
}

.contato {
  width: 50px;
}

.divider {
  width: 200px;
  height: 2px;
  background-color: #e4c49c;
}

.dividerD {
  width: 125px;
  height: 2px;
  background-color: #e4c49c;
}

.contatoGrid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  position: relative;
  top: 670px;
  left: 2%;
  width: 100px;
}
hr {
  position: absolute;
  width: 880px;
  top: 101.6%;
  display: flex;
  left: 25%;
  z-index: 1000;
}
/* --------------------- section apresentação ---------------------*/
.MC {
  position: absolute;
  top: 101.5%;
  width: 100%;
}
.backEuSec {
  position: absolute;
  top: 0%;
  display: flex;
  left: 17%;
  width: 82.5%;
  transform: rotate(180deg);
  filter: brightness(1.1);
  z-index: 3;
}

.ledSec {
  position: relative;
  left: 30%;
  top: 0%;
  width: 800px;
  height: 110vh;
  background: radial-gradient(
      circle at 35% 55%,
      rgba(212, 111, 111, 0.9) 0%,
      rgba(193, 55, 55, 0.449) 60%
    ),
    radial-gradient(
      circle at 65% 45%,
      rgba(231, 135, 135, 0.564) 0%,
      rgba(255, 0, 0, 0.475) 70%
    );
  filter: blur(80px);
}

.MeC {
  position: absolute;
  top: 25%;
  left: 1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 95px;
  color: var(--cor-dourado);
  z-index: 3;
}

.infoText {
  position: relative;
  display: flex;
  justify-self: center;
  top: 20%;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: var(--cor-texto);
  width: 470px;
  font-weight: 600;
}

.info {
  position: absolute;
  top: 42.5%;
  left: 5%;
  width: 550px;
  height: 300px;
  background-color: var(--cor-info);
  border-radius: 20px;
  z-index: 2;
}

.MeH {
  position: absolute;
  top: 42.5%;
  right: 1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 85px;
  color: var(--cor-dourado);
  z-index: 3;
}
.hobies {
  position: absolute;
  top: 60%;
  right: 10%;
  width: 300px;
  height: 250px;
  background-color: var(--cor-info);
  border-radius: 20px;
  z-index: 2;
}
.hobies ul li {
  position: relative;
  display: flex;
  text-align: left;
  left: 15%;
  top: 30px;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: var(--cor-texto);
  width: 10px;
  font-weight: 600;
}
.hob li::before {
  content: url(/img/PORTFOLIO_25x25.svg);
}
.MC > hr {
  top: 95%;
}
/* --------------------- Curiosidades --------------------- */
.curiosidades {
  position: absolute;
  top: 210%;
  width: 100%;
}
.sb {
  font-size: 45px;
  color: var(--cor-texto);
  font-family: var(--fonte-subtitulo);
  font-weight: 800;
  position: relative;
  left: 2.5%;
  z-index: 2;
}
.cd {
  font-size: 150px;
  color: var(--cor-dourado);
  font-family: var(--fonte-subtitulo);
  font-weight: 900;
  position: relative;
  left: 5%;
  z-index: 2;
}
.csb {
  width: 450px;
  height: 365px;
  background-color: var(--cor-info);
  position: absolute;
  left: 10%;
  top: 100%;
  border-radius: 30px;
  z-index: 2;
}
.ordTitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: var(--cor-texto);
  position: relative;
  display: flex;
  justify-self: center;
  top: 5%;
}
.csb ol li {
  color: var(--cor-texto);
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 700;
  position: relative;
  left: 20%;
  top: 25px;
}
.lugarJ {
  width: 450px;
  height: 200px;
  background-color: var(--cor-info);
  position: absolute;
  right: 10%;
  top: 100%;
  border-radius: 30px;
  z-index: 2;
}
.lTitulo,
.lnTitulo {
  font-family: var(--fonte-subtitulo);
  font-size: 25px;
  font-weight: 900;
  color: var(--cor-texto);
  position: relative;
  display: flex;
  justify-self: center;
  top: 10px;
}
.lugarJ > ul li::before {
  content: url("/img/PORTFOLIO_25x25.svg");
}
.lugarJ ul li {
  font-size: 20px;
  font-family: var(--fonte-texto);
  font-weight: 700;
  position: relative;
  display: flex;
  left: 24%;
  top: 25px;
}
.lugarN {
  width: 450px;
  height: 180px;
  background-color: var(--cor-info);
  position: absolute;
  left: 45%;
  top: 200%;
  border-radius: 30px;
  z-index: 2;
}
.lugarN ol li {
  font-size: 20px;
  font-family: var(--fonte-texto);
  font-weight: 700;
  position: relative;
  left: 24%;
  top: 25px;
  color: var(--cor-texto);
}
.ledC {
  width: 500px;
  height: 110vh;
  background: radial-gradient(
      circle at 35% 55%,
      rgba(212, 111, 111, 0.9) 0%,
      rgba(82, 43, 43, 0.449) 60%
    ),
    radial-gradient(
      circle at 65% 45%,
      rgba(231, 135, 135, 0.564) 0%,
      rgba(119, 27, 27, 0.475) 70%
    );
  filter: blur(80px);
  border-radius: 15%;
  z-index: 1;
}
.led {
  position: absolute;
  transform: rotate(90deg);
  left: -20%;
  top: -100%;
}
.led2 {
  position: absolute;
  right: -15%;
  top: 200%;
}
.curiosidades > hr {
  top: 300%;
}
/* --------------------- Porque Programo --------------------- */
.pqPr {
  position: absolute;
  top: 307.8%;
  width: 100%;
}
.pi {
  font-size: 30px;
  color: var(--cor-texto);
  font-family: var(--fonte-subtitulo);
  font-weight: 800;
  position: relative;
  left: 2.5%;
  top: 25px;
  z-index: 2;
}
.pq {
  font-family: var(--fonte-subtitulo);
  font-size: 100px;
  font-weight: 900;
  color: var(--cor-dourado);
  position: relative;
  left: 5%;
  top: 25px;
}
.aniCant {
  width: 250px;
  height: 250px;
  padding: 15px 5px 15px 5px;
  background-color: white;
  position: absolute;
  right: 1%;
  top: 210%;
}
.le {
  font-family: var(--fonte-subtitulo);
  font-size: 20px;
  font-weight: 900;
  color: var(--cor-texto);
  position: absolute;
  right: 4.6%;
  top: 190%;
}
.le::after {
  content: "\2B9F";
  font-size: 20px;
  margin-left: 5px;
  color: var(--cor-dourado);
}
.pDiv,
.pDiv2 {
  width: 450px;
  height: 160px;
  background-color: var(--cor-info);
  position: absolute;
  border-radius: 30px;
  z-index: 2;
}
.pDiv > p,
.pDiv2 > p {
  font-size: 20px;
  font-family: var(--fonte-texto);
  font-weight: 700;
  position: relative;
  display: flex;
  color: var(--cor-texto);
  width: 400px;
  left: 5%;
  top: 30px;
}
.pDiv {
  left: 15%;
  top: 210px;
}
.pDiv2 {
  right: 30%;
  top: 400px;
}
.pDiv2 > p {
  top: 20px;
}
.ledPq {
  position: absolute;
  left: -15%;
  width: 500px;
  height: 110vh;
  background: radial-gradient(
      circle at 35% 55%,
      rgba(212, 111, 111, 0.9) 0%,
      rgba(82, 43, 43, 0.449) 60%
    ),
    radial-gradient(
      circle at 65% 45%,
      rgba(231, 135, 135, 0.564) 0%,
      rgba(119, 27, 27, 0.475) 70%
    );
  filter: blur(80px);
  border-radius: 15%;
  z-index: 1;
}
.pqPr > hr {
  top: 400%;
}

/* --------------------- finalização --------------------- */
.final {
  position: absolute;
  top: 394%;
  width: 100%;
}
.ei {
  font-size: 30px;
  color: var(--cor-texto);
  font-family: var(--fonte-subtitulo);
  font-weight: 800;
  position: relative;
  left: 2.5%;
  top: 25px;
  z-index: 2;
}
.up {
  font-family: var(--fonte-subtitulo);
  font-size: 100px;
  font-weight: 900;
  color: var(--cor-dourado);
  position: relative;
  left: 5%;
  top: 35px;
  z-index: 2;
}
.txtF {
  width: 600px;
  height: 230px;
  background-color: var(--cor-info);
  position: absolute;
  border-radius: 30px;
  left: 15%;
  top: 225px;
  z-index: 2;
}
.txtF > p {
  font-size: 30px;
  font-family: var(--fonte-texto);
  font-weight: 700;
  position: relative;
  display: flex;
  color: var(--cor-texto);
  width: 550px;
  left: 7%;
  top: 30px;
}
.foto,
.mInsta {
  font-size: 25px;
  color: var(--cor-texto);
  font-family: var(--fonte-subtitulo);
  font-weight: 800;
  position: relative;
  z-index: 2;
}
.vsco {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  font-family: var(--fonte-subtitulo);
  font-size: 25px;
  color: black;
  font-weight: 900;
  top: 380%;
  left: 22%;
}
.vsco > p {
  position: relative;
  top: -90%;
  left: 35%;
}
.fInsta {
  width: 50px;
  height: 50px;
}
.fVsco {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: 0.5s ease;
}
.insta {
  position: absolute;
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, yellow, red, purple);
  border-radius: 15px;
  font-family: var(--fonte-subtitulo);
  font-size: 25px;
  color: black;
  font-weight: 900;
  top: 380%;
  left: 40%;
  transition: 0.5s ease;
}
.insta > p {
  position: relative;
  top: -90%;
  left: 35%;
}
.fotoEu {
  border: 5px solid var(--cor-dourado);
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  right: 1%;
  top: 230%;
  z-index: 2;
}
.ledF {
  position: absolute;
  right: -5%;
  top: 15%;
  width: 400px;
  height: 100vh;
  background: radial-gradient(
      circle at 35% 55%,
      rgba(212, 111, 111, 0.9) 0%,
      rgba(82, 43, 43, 0.449) 60%
    ),
    radial-gradient(
      circle at 65% 45%,
      rgba(231, 135, 135, 0.564) 0%,
      rgba(119, 27, 27, 0.475) 70%
    );
  filter: blur(80px);
  border-radius: 20%;
  z-index: 1;
}
.mInsta {
  position: absolute;
  top: 350%;
  left: 40%;
}
.foto {
  position: absolute;
  top: 350%;
  left: 20%;
}
/* hovers */
a:hover {
  color: #a2a2a2;
  transition: 0.2s ease;
}
a {
  color: var(--cor-texto);
  transition: 0.2s ease;
}
.insta:hover {
  filter: brightness(65%);
  color: #000000;
  transition: 0.5s ease;
}
.vsco:hover {
  background-color: #a1a1a1;
  color: #000000;
  transition: 0.5s ease;
  .fVsco {
    filter: brightness(65%);
    transition: 0.5s ease;
  }
}
.hoverImages > img {
  position: relative;
}
.primeiroimg {
  position: absolute;
  top: 105%;
  left: 25%;
}
.primeiroimg > img {
  width: 40%;
}
.atibaia {
  position: relative;
  left: 32%;
}
.peruibe {
  position: relative;
  left: 31.5%;
}
.saocarlos {
  position: relative;
  left: 32%;
  top: -20px;
}
.segundoimg {
  position: absolute;
  top: 197%;
  left: 77%;
  z-index: 10;
}
.segundoimg > img {
  width: 85%;
}
.stpetersburgo {
  position: relative;
  top: 0px;
}
.vancouver {
  position: relative;
  top: 0px;
}
.atibaia,
.vancouver,
.moscow,
.stpetersburgo,
.saocarlos,
.peruibe {
  display: none;
  transition: transform 1s ease-in-out;
  border-radius: 10px;
}
.tyler {
  position: absolute;
  z-index: 15;
  width: 20%;
  left: 40%;
  border-radius: 15px;
  display: none;
}
